<%= turbo_frame_tag project_feature do %>
  <li class="list-group-item px-3 border-2 rounded-3 mb-3 w-75">
    <div class="card border-0">
      <h5 class="card-header"><%= project_feature.name %></h5>
      <div class="card-body">
        <div class="form-row mb-3 justify-content-between">
          <div class="form-col col-6">
            <label class="form-label required">
              <%= t ".feature_description" %>
            </label>
            <textarea class="form-control" disabled><%= project_feature.description %></textarea>
          </div>
          <div class="form-col col-5">
            <label class="form-label required">
              <%= t ".waste_description" %>
            </label>
            <textarea class="form-control" disabled><%= project_feature.waste_description %></textarea>
          </div>
        </div>
        <div class="form-row mb-3 justify-content-between">
          <div class="form-col col-3">
            <label class="form-label required">
              <%= t ".effort_time" %>
            </label>
            <input type="number" class="form-control" value="<%= project_feature.effort_saved %>" disabled>
          </div>
          <div class="form-col col-3">
            <label class="form-label required">
              <%= t ".repeat_time" %>
            </label>
            <input type="number" class="form-control" value="<%= project_feature.repeat_time %>" disabled>
          </div>
          <div class="form-col col-4">
            <label class="form-label required">
              <%= t ".repeat_unit" %>
            </label>
            <input type="text" class="form-control" value="<%= t ".#{project_feature.repeat_unit}" %>" disabled>
          </div>
        </div>
        <div class="form-row">
          <p class="badge text-bg-success mx-2"><%= t("project_features.index.man_month") %></p>
          <p><%= project_feature.calculator_man_month.round(Settings.digits.length_2) %></p>
        </div>
      </div>
    </div>
    <div class="position-absolute top-15px end-20px">
      <% if can_edit_delete_project project_feature.project %>
        <%= link_to edit_project_feature_path(project_feature), class: "text-warning icon" do %>
          <i class="bi bi-pencil-square"></i>
        <% end %>
        <%= link_to project_feature_path(project_feature),
                    data: {turbo_method: :delete, turbo_confirm: t("projects.you_sure?")},
                    class: "text-danger icon" do %>
          <i class="bi bi-trash"></i>
        <% end %>
      <% end %>
    </div>
  </li>
<% end %>
