<% provide :title, t("month_project_features.index.project_feature_index") %>
<% content_for :javascript_file do %>
  <%= javascript_include_tag "animate" %>
<% end %>
<%= form_with url: project_features_path, method: :get, class: "row g-4 pb-4" do |f| %>
  <div class="col-auto">
    <label class="form-label"><%= t ".select_month_year" %></label>
    <%= f.date_field :month_year, type: "month", value: month_field_value(params[:month_year]), class: "form-control" %>
  </div>
  <div class="col-auto">
    <%= f.label :name, t(".name"), class: "form-label" %>
    <%= f.text_field :name, value: params[:name], class: "form-control" %>
  </div>
  <div class="col-auto w-140px">
    <label class="form-label invisible">invisible label</label>
    <%= f.submit t(".search"), name: nil, class: "btn btn-primary btn-block form-control" %>
  </div>
  <div class="col-auto w-90px m-0">
    <label class="form-label invisible">invisible label</label>
    <%= link_to project_features_path, class: "btn btn-secondary form-control" do %>
      <i class="bi bi-arrow-counterclockwise"></i>
    <% end %>
  </div>
<% end %>
<div class="table-responsive">
  <div class="card border-0 flex-fill w-100">
    <table class="table table-striped align-middle table-hover table-bordered padding-margin-0">
      <thead>
        <tr>
          <th scope="col" width="5%"><%= t ".stt" %></th>
          <th scope="col"><%= t ".name" %></th>
          <th scope="col"><%= t ".man_month" %></th>
          <th scope="col"><%= t ".month_year" %></th>
          <th scope="col" width="10%"><%= t ".action" %></th>
        </tr>
      </thead>
      <div class="card-header border-0 card-header-space-between">
        <h2 class="card-header-title h4 text-uppercase fw-bold"><%= t ".title" %></h2>
        <div class="col-auto ms-auto">
          <%= link_to "+", new_project_feature_path, class: "btn btn-info text-white form-control br fw-bold fs-4" %>
        </div>
        <!-- Dropdown -->
        <div class="dropdown ms-4">
          <a href="javascript: void(0);" class="dropdown-toggle no-arrow text-secondary" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
          </a>
          <div class="dropdown-menu">
            <%= link_to t(".export"),
              project_features_path(format: :xlsx,
                                    month_year: params[:month_year],
                                    name: params[:name]),
                                    class: "dropdown-item" %>
          </div>
        </div>
      </div>
      <tbody>
        <%= render partial: "project_features/monthly_project_feature",
                collection: @project,
                as: "item" %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Pagination -->
      <% if @pagy&.pages > 1 %>
        <%== pagy_info @pagy %>
        <%== pagy_bootstrap_nav @pagy %>
      <% end %>
    </div>
  </div>
</div>
