<div class="container">
  <div class="form-group justify-content-center">
    <%= form_with url: project_features_path, method: :get do |f| %>
      <label class="form-label">
        <%= t ".select_month_year" %>
        <%= f.date_field :month_year, type: "month", value: month_field_value(params[:month_year]), class: "form-control" %>
      </label>
      <%= f.submit t(".search"), name: nil, class: "btn btn-primary btn-block w-30 ml-35" %>
    <% end %>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
      <th scope="col" width="10%"><%= t ".stt" %></th>
      <th scope="col"><%= t ".name" %></th>
      <th scope="col"><%= t ".man_month" %></th>
      <th scope="col" width="10%"><%= t ".action" %></th>
    </tr>
    </thead>
    <tbody>
      <%= render partial: "project_features/monthly_project_feature",
                 collection: @projects,
                 as: "item" %>
    </tbody>
  </table>
  <%== pagy_info @pagy %>
  <%== pagy_bootstrap_nav @pagy %>
</div>
