<%= form_with url: statistics_groups_path, method: :get, class: "row g-4 position-relative" do |f| %>
  <div class="row mb-3">
    <div class="col-auto">
      <%= f.label :group_id, t("project.form.group"), class: "form-label" %>
      <%= f.select :group_id, list_group, {include_blank: true, selected: params[:group_id]}, {class: "form-select"} %>
    </div>

    <div class="col-auto">
      <%= f.label :start_month_year, t("dashboard.search.start_month"), class: "form-label" %>
      <%= f.date_field :start_month_year, type: "month",
                       value: start_month_field_value(params[:start_month_year]), class: "form-control" %>
    </div>

    <div class="col-auto">
      <%= f.label :end_month_year, t("dashboard.search.end_month"), class: "form-label" %>
      <%= f.date_field :end_month_year, type: "month",
                       value: month_field_value(params[:end_month_year]), class: "form-control" %>
    </div>

    <div class="col-auto w-140px">
      <label class="form-label invisible">invisible</label>
      <%= f.submit t("projects.search_form.search"), name: nil, class: "btn btn-primary form-control" %>
    </div>

    <div class="col-auto w-90px">
      <label class="form-label invisible">invisible</label>
      <%= link_to statistics_groups_path, class: "btn btn-secondary form-control" do %>
        <i class="bi bi-arrow-counterclockwise"></i>
      <% end %>
    </div>
  </div>

  <div class="row mb-25">
    <div class="col-auto mr-2">
      <div class="form-check form-switch">
        <%= f.label :each_month_separately, t("value_resources.search.each_month_separately"), class: "form-check-label text-decoration-none" %>
        <%= f.check_box :each_month_separately, {checked: boolean_params(:each_month_separately),
                                                 class: "form-check-input w-50px mr-2",
                                                 onclick: "this.form.submit()"} %>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-check form-switch">
        <%= f.label :average_month, t(".average_month"), class: "form-check-label text-decoration-none" %>
        <%= f.check_box :average_month, {checked: boolean_params(:average_month),
                                         class: "form-check-input w-50px mr-2 form-check-input-primary",
                                         onclick: "this.form.submit()"} %>
      </div>
    </div>
  </div>
<% end %>
