<div class="col-lg-6 col-md-12 mt-4 pt-2">
  <div class="card border-0 bg-light rounded shadow">
    <div class="card-body p-4">
      <span class="badge rounded-pill bg-<%= environment_name_class project_environment.environment %> float-md-end mb-3 mb-sm-0"><%= project_environment.environment %></span>
      <div class="mt-3">
        <span class="text-muted d-block"><i class="bi bi-geo-alt"></i> <%= t ".ip_address" %>: <%= project_environment.ip_address %></span>
        <span class="text-muted d-block"><i class="bi bi-box-seam"></i> <%= t ".domain" %>: <%= project_environment.domain %></span>
        <span class="text-muted d-block"><i class="bi bi-plug"></i>  <%= t ".port" %>: <%= project_environment.port %></span>
        <span class="text-muted d-block"><i class="bi bi-hdd-stack-fill"></i> <%= t ".web_server" %>: <%= project_environment.web_server %></span>
      </div>

      <div class="mt-3">
        <a
          href="#project_environment_node_<%= project_environment.id %>"
          class="btn btn-primary"
          data-bs-toggle="collapse"
        >
          <%= t ".note" %>
        </a>
      </div>
      <div class="collapse mt-3" id="project_environment_node_<%= project_environment.id %>">
        <div class="text-dark-l1 text-120"><%= project_environment.note %></div>
      </div>
    </div>
  </div>
</div>
