<div class="nested-fields">
  <%= f.label :environment, t("project.form.project_enviroment"), class: "form-label" %>
  <%= f.select :environment, environment_select, {:prompt => t("project.form.select_enviroment")}, class: "form-select" %>
  <%= f.label :ip_address, t("project.form.ip_address") %>
  <%= f.text_field :ip_address, class: "form-control" %>
  <%= f.label :domain, t("project.form.domain")%>
  <%= f.text_field :domain, class: "form-control" %>
  <%= f.label :port, t("project.form.port") %>
  <%= f.number_field :port, class: "form-control", only_integer: true %>
  <%= f.label :web_server, t("project.form.web_server") %>
  <%= f.text_field :web_server, class: "form-control" %>
  <%= f.label :note, t("project.form.note") %>
  <%= f.text_area :note, class: "form-control" %>
  <%= link_to_remove_association t("project.form.remove"), f %>
</div>
