<%== pagy_bootstrap_nav @pagy if @pagy&.pages > 1 %>
<div class="table-wrapper w-100">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-8"><h2><%= t ".Project_Member" %></h2></div>
      <div class="col-sm-4">
        <%= link_to new_project_user_path, data: {turbo_frame: "modal"}, class: "btn btn-primary btn-sm" do %>
          <i class="fa fa-plus"></i> <%= t ".Add_New" %>
        <% end %>
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="5%">STT</th>
        <th><%= t ".Member_name" %></th>
        <th><%= t ".Role" %></th>
        <th><%= t ".Github_Account" %></th>
        <th><%= t ".joined_at" %></th>
        <th><%= t ".left_at" %></th>
        <th class="w-auto"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody id="project_members">
      <%= render @project_members %>
    </tbody>
  </table>
</div>
<%== pagy_bootstrap_nav @pagy if @pagy&.pages > 1 %>
