<tr class="table_row hide">
  <td><%= sequence_number project_counter, @pagy&.offset %></td>
  <td><%= project.group_name %></td>
  <td><%= project.name %></td>
  <td class="text-nowrap text-overflow"><%= project.description %></td>
  <td class="text-center">
    <span class="badge rounded-pill text-bg-<%= project.status %>">
      <%= t ".#{project.status}" %>
    </span>
  </td>
  <td><%= format_date project.created_at %></td>
  <td><%= format_date project.start_date %></td>
  <td><%= format_date project.end_date %></td>
  <td class="text-center">
    <%= link_to project_path(project), class: "btn btn-primary btn-sm" do %>
      <i class="bi-eye-fill"></i>
    <% end %>
    <% if current_user.can_edit_delete_project? project %>
      <%= link_to edit_project_path(project), class: "btn btn-success btn-sm" do %>
        <i class="bi-pencil-square"></i>
      <% end %>
      <% if project.can_delete_project? %>
        <%= link_to project, data: { turbo_method: :delete, turbo_confirm: t("projects.you_sure?") }  do %>
          <button type="button" class="btn btn-danger btn-sm">
            <i class="bi-trash-fill text-light"></i>
          </button>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
