<div class="container">
  <!-- Project Profile -->
  <div class="card">
    <div class="card-body">
      <h3 class="card-title"><%= t "projects.show.Project_Detail" %></h3>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="table-responsive">
            <table class="table table-striped table-product">
              <tbody>
                <tr>
                  <td width="390"><%= t ".project_name" %></td>
                  <td><%= @project.name %></td>
                </tr>
                <tr>
                  <td><%= t ".rubato_id" %></td>
                  <td><%= @project.rubato_id %></td>
                </tr>
                <tr>
                  <td><%= t ".project_description" %></td>
                  <td><%= @project.description %></td>
                </tr>
                <tr>
                  <td><%= t ".project_status" %></td>
                  <td><%= t "projects.project.#{@project.status}" %></td>
                </tr>
                <tr>
                  <td><%= t ".project_group" %></td>
                  <td><%= @project.group_name %></td>
                </tr>
                <tr>
                  <td><%= t ".project_start_date" %></td>
                  <td><%= format_date @project.start_date %></td>
                </tr>
                <tr>
                  <td><%= t ".project_end_date" %></td>
                  <td><%= format_date @project.end_date %></td>
                </tr>
                <tr>
                  <td><%= t ".project_language" %></td>
                  <td><%= @project.language %></td>
                </tr>
                <tr>
                  <td><%= t ".project_repository" %></td>
                  <td><%= @project.repository %></td>
                </tr>
                <tr>
                  <td><%= t ".project_redmine" %></td>
                  <td><%= @project.redmine %></td>
                </tr>
                <tr>
                  <td><%= t ".project_folder" %></td>
                  <td><%= @project.project_folder %></td>
                </tr>
                <tr style="height: 200px;">
                  <td>
                    <%= t ".project_customers" %>
                  </td>
                  <td id="customer_description" style="background-color: ghostwhite;">
                    <%= list_customer @project_customers %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- List environment -->
  <div class="row">
    <%= render @project.project_environments %>
  </div>
</div>
