<%= render "search_form" %>
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered padding-margin-0">
    <thead>
    <tr>
      <th scope="col"><%= t ".group" %></th>
      <th scope="col"><%= t ".name" %></th>
      <th scope="col"><%= t ".description" %></th>
      <th scope="col"><%= t ".status" %></th>
      <th scope="col"><%= t ".start_date" %></th>
      <th scope="col"><%= t ".end_date" %></th>
      <th scope="col"><%= t ".action" %></th>
    </tr>
    </thead>
    <tbody>
    <%= render @projects %>
    </tbody>
  </table>
  <%== pagy_info @pagy %>
  <%== pagy_bootstrap_nav @pagy %>
</div>
