<tr>
  <td><%= project.id %></td>
  <td><span class="fw-bold"><%= project.name %></span></td>
  <td><%= number_with_precision(project.sum_man_month, precision: 2) %></td>
  <td><%= link_to t(".detail"), resource_path(project) %></td>
  <td><%= format_date project.start_date %></td>
  <td class="text-center">
    <button type="button" class="btn btn-primary btn-sm">
      <i class="bi-eye-fill"></i>
    </button>
    <%= link_to edit_resource_path(project), class: "btn btn-success btn-sm" do %>
      <i class="bi-pencil-square"></i>
    <% end %>
    <button type="button" class="btn btn-danger btn-sm">
      <i class="bi-trash-fill"></i>
    </button>
  </td>
</tr>
