<tr class="table_row hide">
  <td><%= sequence_number project_counter, @pagy&.offset  %></td>
  <td><%= project.month %></td>
  <td><%= project.year %></td>
  <td><%= project.name %></td>
  <td><%= project.calculate_project_resource_man_per_month project.month, project.year %></td>
  <td><%= link_to t("resources.table.detail"), resource_path(project, month: project.month, year: project.year), data: { turbo_frame: "modal" } %></td>
  <td><%= format_date project.start_date %></td>
</tr>
