<tr>
  <td><%= sequence_number project_user_resource_counter, @pagy&.offset %></td>
  <td><%= project_user_resource.month %></td>
  <td><%= project_user_resource.year %></td>
  <td><%= project_user_resource.user_name %></td>
  <td><%= project_user_resource.percentage %></td>
  <td><%= project_user_resource.man_month %></td>
</tr>
