<%= form_with url: resources_path, method: :get do |f| %>
  <%= f.label t("resources.index.search") , class: "form-label h6"%>

  <div class="row mb-3">
    <div class="col">
      <%= f.date_field :date, value: params[:date], placeholder: "MM/DD/YYYY", class: "form-control bg-light-green border-light-green"%>
    </div>
    <div class="col input-group input-group-merge">
      <%= f.text_field :name, value: params[:name], placeholder: t("resources.index.search_by_name"), class: "form-control bg-light-green border-light-green"%>
      <span class="input-group-text bg-light-green border-light-green p-0">
        <%= f.submit t("resources.index.search"), class: "btn btn-primary rounded-2 w-80px h-30px p-0 mx-1" %>
      </span>
    </div>
  </div> <!-- / .row -->
<% end %>
