<div class="table-responsive">
  <table class="table table-striped align-middle table-hover table-bordered padding-margin-0">
    <thead>
      <tr>
        <th width="5%"><%= t(".order")%></th>
        <th scope="col"><%= t(".month")%></th>
        <th scope="col"><%= t(".year")%></th>
        <th scope="col"><%= t(".project_name")%></th>
        <th scope="col"><%= t(".man_month")%></th>
        <th scope="col"><%= t(".detail")%></th>
        <th scope="col"><%= t(".date_created")%></th>
      </tr>
    </thead>
    <tbody class="list">
      <%= render partial: "project", collection: @projects %>
    </tbody>
  </table>
</div>
