<div class="table-responsive">
  <table class="table table-bordered align-middle table-edge table-hover table-nowrap mb-0">
    <thead class="thead-light">
      <tr>
        <th class="text-dark" width="5%">
          <%= t(".order")%>
        </th>
        <th class="text-dark">
          <%= t(".project_name")%>
        </th>
        <th class="text-dark">
          <%= t(".man_month")%>
        </th>
        <th class="text-dark">
          <%= t(".detail")%>
        </th>
        <th class="text-dark">
          <%= t(".date")%>
        </th>
      </tr>
    </thead>

    <tbody class="list">
      <%= render partial: 'project', collection: @projects%>
    </tbody>
  </table>
</div>
