<% provide :title, t(".resource_index") %>

<% content_for :javascript_file do %>
  <%= javascript_include_tag "animate" %>
<% end %>

<%= render("resources/search") %>
<div class="row">
  <div class="col">
    <!-- Card -->
    <div class="card border-0 flex-fill w-100">
      <div class="card-header border-0 card-header-space-between">
        <h2 class="card-header-title h4 text-uppercase fw-bold"><%= t ".resources" %></h2>
        <div class="col-auto ms-auto">
          <%= link_to "+", new_resource_path, class: "btn btn-info text-white form-control br fw-bold fs-4" %>
        </div>
        <!-- Dropdown -->
        <div class="dropdown ms-4">
          <a href="javascript: void(0);" class="dropdown-toggle no-arrow text-secondary" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
          </a>
          <div class="dropdown-menu">
            <%= link_to t(".export"), resources_path(format: :xlsx, name: params[:name], month_year: params[:month_year]), class: "dropdown-item" %>
          </div>
        </div>
      </div>
      <%= render("resources/table") %>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Pagination -->
        <% if @pagy&.pages > 1 %>
          <%== pagy_info @pagy %>
          <%== pagy_bootstrap_nav @pagy %>
        <% end %>
      </div>
    </div>
  </div>
</div>
