<%= form_with url: new_resource_path, method: :get do |f| %>
  <div class="mb-3">
    <%= f.label :month_year, t(".select_month_year"), class: "form-label" %>
    <%= f.date_field :month_year, type: "month", value: month_field_value(params[:month_year]), class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :project_id, t(".select_project"), class: "form-label" %>
    <%= f.select :project_id, project_select, { prompt: t(".select_project"), selected: params["project_id"] }, class: "form-select", id: "select_project", required: true %>
  </div>
  <div class="mb-3">
    <%= f.submit t(".select"), name: nil, class: "btn btn-primary btn-block w-30 ml-35" %>
  </div>
<% end %>

<% if params["project_id"] && params["month_year"] %>
  <%= render "form_resources" %>
<% end %>
