<% provide :title, t(".health_index") %>
<div class="card">
  <div class="card-body p-6">
    <%= form_with url: health_index_path, method: :post do |f| %>
      <div class="d-flex justify-content-center">
        <div class="mb-3 row w-50 mb-4">
          <div class="col-3">
            <h4 class="fw-bold"><%= t("resources.new.select_project")%></h4>
          </div>
          <div class="col-6">
            <%= f.select :project_id, Project.without_health_items.pluck(:name, :id), { include_blank: true, selected: params[:project_id]}, class: "form-select",
                        disabled: params[:project_id].present?, required: true %>
          </div>
        </div>
      </div>
      <% if params[:project_id].present? %>
        <%= f.hidden_field :project_id, value: params[:project_id] %>
      <% end %>
      <div class="d-flex justify-content-center">
        <h3 class="mt-4 mb-6 fw-bold text-uppercase"><%= t(".checklist")%></h3>
      </div>
      <% @health_items.each do |item| %>
        <div class="d-flex justify-content-center">
          <div class="mb-3 row w-50">
            <div class="col-6 required">
              <%= item.item %>
            </div>
            <div class="col-6">
              <%= f.select "health_items[#{item.id}]", status_options, {:prompt => t("project.form.select_status"), selected: "defau_value"}, class: "form-select", required: true %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="d-flex justify-content-center">
        <%= f.submit t("reports.form.save"), class: "btn btn-primary form-control mt-3 w-50" %>
      </div>
    <% end %>
  </div>
</div>
