<% provide :title, t(".health_index") %>
<div class="card">
  <div class="card-body p-6">
    <%= form_with url: health_index_path, method: :post do |f| %>

      <div class="mb-3 row w-50 mb-4 font-weight-bold">
        <div class="col-6">
          <h3><%= t("resources.new.select_project")%></h3>
        </div>
        <div class="col-6">
          <%= f.select :project_id, Project.without_health_items.pluck(:name, :id), { include_blank: true, selected: params[:project_id]}, class: "form-select",
                       disabled: params[:project_id].present?, required: true %>
        </div>
      </div>

      <h3 class="mt-4 mb-6 font-weight-bold"><%= t(".checklist")%></h3>

      <% @health_items.each do |item| %>
        <div class="mb-3 row w-50">
          <div class="col-6 required">
            <%= item.item %>
          </div>
          <div class="col-6">
            <%= f.select "health_items[#{item.id}]", status_options, {:prompt => t("project.form.select_status"), selected: "defau_value"}, class: "form-select", required: true %>
          </div>
        </div>
      <% end %>
      <%= f.submit t("reports.form.save"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
