<%= form_with url: health_items_path, method: :get, class: "row g-4 pb-4" do |f| %>
  <div class="col-auto">
    <%= f.label :name,  t(".name"), class: "form-label" %>
    <%= f.text_field :name, value: params[:name], class: "form-control" %>
  </div>
  <div class="col-auto w-125px">
    <label class="form-label invisible">invisible label</label>
    <%= f.submit t(".search"), name: nil, class: "btn btn-primary form-control" %>
  </div>
  <div class="col-auto w-90px m-0">
    <label class="form-label invisible">invisible label</label>
    <%= link_to health_items_path, class: "btn btn-secondary form-control" do %>
      <i class="bi bi-arrow-counterclockwise"></i>
    <% end %>
  </div>
<% end %>
