<tr>
  <td><%= release_plan_stt release_plan_counter %></td>
  <td><%= release_plan.project_name %></td>
  <td><%= format_date release_plan.release_date %></td>
  <td class="text-nowrap text-overflow"><%= release_plan.description %></td>
  <td class="text-nowrap text-overflow"><%= release_plan.is_released %></td>
  <td class="text-center">
    <button type="button" class="btn btn-primary btn-sm">
      <i class="bi-eye-fill"></i>
    </button>
    <% if can_edit_delete_release_plan release_plan %>
      <button type="button" class="btn btn-success btn-sm">
        <i class="bi-pencil-square"></i>
      </button>

      <button type="button" class="btn btn-danger btn-sm">
        <i class="bi-trash-fill"></i>
      </button>
    <% end %>
  </td>
</tr>
