<tr class="table_row hide">
  <td><%= sequence_number release_plan_counter, @pagy.offset %></td>
  <td><%= release_plan.project_name %></td>
  <td><%= format_date release_plan.release_date %></td>
  <td class="text-nowrap text-overflow"><%= release_plan.description %></td>
  <td class="text-center">
    <span class="badge rounded-pill text-bg-<%= release_plan.is_released %>">
      <%= t "release_plans.is_released.#{release_plan.is_released}" %>
    </span>
  </td>
  <td class="text-center">
    <%= link_to release_plan, class: "btn btn-primary btn-sm", data: {turbo_frame: "modal"} do %>
      <i class="bi-eye-fill"></i>
    <% end %>
    <% if can_edit_delete_release_plan release_plan %>
      <%= link_to edit_release_plan_path(release_plan), class: "btn btn-success btn-sm" do %>
        <i class="bi-pencil-square"></i>
      <% end %>
      <%= link_to release_plan, class: "btn btn-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: t("release_plans.you_sure?") }  do %>
        <i class="bi-trash-fill"></i>
      <% end %>
    <% end %>
  </td>
</tr>
