<% provide :title, t(".release_plan_index") %>

<% content_for :javascript_file do %>
  <%= javascript_include_tag "animate" %>
<% end %>

<%= render "search_form" %>
<div class="table-responsive">
  <div class="card border-0 flex-fill w-100">
    <table class="table table-striped align-middle table-hover table-bordered padding-margin-0">
      <thead>
        <tr>
          <th width="5%"><%= t ".stt" %></th>
          <th scope="col"><%= t ".project_name" %></th>
          <th scope="col"><%= t ".day_release_plan" %></th>
          <th scope="col"><%= t ".actual_release_date" %></th>
          <th scope="col"><%= t ".description" %></th>
          <th scope="col"><%= t ".status" %></th>
          <th scope="col"><%= t ".action" %></th>
        </tr>
      </thead>
      <div class="card-header border-0 card-header-space-between">
        <h2 class="card-header-title h4 text-uppercase fw-bold"><%= t ".title" %></h2>
        <div class="col-auto ms-auto">
          <%= link_to "+", new_release_plan_path, class: "btn btn-info text-white form-control br fw-bold fs-4" %>
        </div>
      </div>
      <tbody>
        <%= render @release_plans %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Pagination -->
      <% if @pagy&.pages > 1 %>
        <%== pagy_info @pagy %>
        <%== pagy_bootstrap_nav @pagy %>
      <% end %>
    </div>
  </div>
</div>
