<%= render "search_form" %>
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered padding-margin-0">
    <thead>
      <tr>
        <th width="5%"><%= t ".stt" %></th>
        <th scope="col"><%= t ".project_name" %></th>
        <th scope="col"><%= t ".day_release_plan" %></th>
        <th scope="col"><%= t ".description" %></th>
        <th scope="col"><%= t ".status" %></th>
        <th scope="col"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @release_plans %>
    </tbody>
  </table>
  <%== pagy_info @pagy %>
  <%== pagy_bootstrap_nav @pagy %>
</div>
