<%= form_with url: statistics_release_plans_path, method: :get, class: "row g-4 pb-4" do |f| %>
  <div class="col-auto">
    <%= f.label :project_id,  t("release_plans.new.project_name"), class: "form-label" %>
    <%= f.select :project_id, list_project, {include_blank: true, selected: params[:project_id]}, class: "form-select" %>
  </div>
  <div class="col-auto">
    <%= f.label :group_id, t("project.form.group"), class: "form-label" %>
    <%= f.select :group_id, list_group, {include_blank: true, selected: params[:group_id]}, {class: "form-select"} %>
  </div>

  <div class="col-auto">
    <%= f.label :year, t(".year"), class: "form-label" %>
    <%= f.select :year, list_year, {include_blank: false, selected: params[:year]}, {class: "form-select"} %>
  </div>

  <div class="col-auto w-140px">
    <label class="form-label invisible">invisible label</label>
    <%= f.submit t("projects.search_form.search"), name: nil, class: "btn btn-primary form-control"%>
  </div>
  <div class="col-auto w-90px m-0">
    <label class="form-label invisible overflow-hidden m-0">invisible label</label>
    <%= link_to statistics_release_plans_path, class: "btn btn-secondary form-control" do %>
      <i class="bi bi-arrow-counterclockwise"></i>
    <% end %>
  </div>
<% end %>
