<%= turbo_frame_tag "modal" do %>
  <div class="modal-member">
    <h1 class="modal-header mb-3"><%= t(".title") %></h1>
    <% content_for :submit do %>
      <% t(".submit") %>
    <% end %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= render "form", url: project_user_path(@project_user), field_disabled: true %>
  </div>
<% end %>
