<%= turbo_frame_tag "modal" do %>
  <div class="modal-member">
    <h1 class="modal-header mb-3"><%= t(".title") %></h1>
    <% content_for :submit do %>
      <% t(".submit") %>
    <% end %>
    <% flash.each do |message_type, message| %>
      <% unless message_type == "success" %>
        <div class="alert alert-<%= message_type %>"><%= message + message_type %></div>
      <% end %>
    <% end %>
    <%= render "form", url: project_users_path(@project) %>
  </div>
<% end %>
