<%= turbo_frame_tag "modal" do %>
  <div class="modal-member">
    <%= link_to "x", "#", class: "close_x square", data: {
      controller: "modals",
      action: "modals#close"
    } %>
    <h1 class="modal-header mb-4 justify-content-center fw-bold"><%= t(".title") %></h1>
    <% content_for :submit do %>
      <% t(".submit") %>
    <% end %>
    <% flash.each do |message_type, message| %>
      <% unless message_type == "success" %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <% end %>
    <%= render "form", url: project_users_path(@project) %>
  </div>
<% end %>
